html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#container {
  position: relative;
}

#header {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #696969;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  width: 100%;
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  float: left;
  background-color: #D8D8D8;
  color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 60px;
  width: 100%;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 17px;
}

.content h5 {
  font-size: 14px;
}

#screenshots {
  width: 100%;
  display: block;
  height: auto;
}

#content>img {
  float: left;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding-right: 10px;
}


.table-of-contents {
  float: right;
  width: 30%;
  background: #eee;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents li[title="H4"] {
  margin: 0 0 0.25em 0.5em;
}
.table-of-contents li[title="H5"] {
  margin: 0 0 0.25em 0.75em;
}
.table-of-contents a {
  text-decoration: none;
  color: #000000;
}
.table-of-contents a[title="H3"] {
  font-size: 16px;
}
.table-of-contents a[title="H4"] {
  font-size: 14px;
}
.table-of-contents a[title="H5"] {
  font-size: 12px;
}

.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h2:target {
  animation: highlight 1s ease;
}
